<h3>Clínica</h3>
<span>Teléfono 1: 817-14-51</span><br/>
<span>Teléfono 2: 811-99-93</span><br/>
<span>Horario de atención: de 08:00 a 18:00 hrs de lunes a viernes y sábados de 08:00 a 14:00 hrs</span><br/>
<span>Dirección: Justo Sierra N° 190 a una cuadra de Carranza por Chilli's Tequis, San Luis Potosí, S.L.P.</span><br/>
<hr/>
<h3>Dr. Sergio Ramos Reyes</h3>
<span>Correo electrónico: docsergioramos@hotmail.com</span><br/>
<hr/>
<h3>Dr. Paris Ramos Martínez</h3>
<span>Correo electrónico: paris_ramos@hotmail.com</span><br/>
<hr/>
<div class="zagonContact">
	<figure>
		<img src="images/whitelogo.png" alt="Zagon Consulting">
		<figcaption><a href="http://www.zagon.co" target="_blank">Zagon Consulting</a> | Desarrollo de Software a la medida y Asesoría especializada</figcaption>
	</figure>
	<h3>Desarrolladores</h3>
	<h4>Ing. Ivan Lerma Reyes</h4><br/>
	<span>Cel: 4442190442</span><br/>
	<span>email: ivanlermar@gmail.com</span><br/>
	<h4>Ing. Iván Israel Uresti Adame</h4><br/>
	<span>Cel: 4441315779</span><br/>
	<span>email: ivan.uresti@gmail.com</span><br/>
	<hr />
</div>