
<div class="">
  <div class="hc-section">
    <div class="hc-title">Antecedentes heredo familiares</div>
    <div class="col-sm-12 scp-row"> 
      <div class="col-sm-3"><input type="checkbox" value="0" id="info.diabetes" ng-model="info.diabetes"/>&nbsp;Diabetes</div>
      <div class="col-sm-3"><input type="checkbox" value="1" id="info.ia" ng-model="info.ia"/>&nbsp;I.A.</div>
      <div class="col-sm-3"><input type="checkbox" value="2" id="info.calvicie" ng-model="info.calvicie"/>&nbsp;Calvicie</div>
      <div class="col-sm-3"><input type="checkbox" value="3" id="info.varices" ng-model="info.varices"/>&nbsp;Varices</div>
      <div class="col-sm-3"><input type="checkbox" value="4" id="info.ahfHas" ng-model="info.ahfHas"/>&nbsp;H.A.S.</div>
      <div class="col-sm-3"><input type="checkbox" value="5" id="info.avc" ng-model="info.avc"/>&nbsp;A.V.C.</div>
      <div class="col-sm-3"><input type="checkbox" value="5" id="info.cancer" ng-model="info.cancer"/>&nbsp;Cáncer</div>
      <div class="col-sm-3"><input type="checkbox" value="5" id="info.acne" ng-model="info.acne"/>&nbsp;Acné</div>
    </div>
    <div class="col-sm-12 scp-row" >Observaciones:<textarea class="form-control" id="info.ahfNotes" ng-model="info.ahfNotes" ng-maxlength="2000" rows="3"></textarea></div>
  </div>
  <div>
    <div class="hc-title">Antecedentes personales no patológicos</div>
    <div class="col-sm-12 scp-row "> 
      <div class="col-sm-4"><input type="checkbox" value="0" id="info.tabaquismo" ng-model="info.tabaquismo"/>&nbsp;Tabaquismo</div>
      <div class="col-sm-4"><input type="checkbox" value="1" id="info.toxicomanias" ng-model="info.toxicomanias"/>&nbsp;Toxicomanias</div>
      <div class="col-sm-4"><input type="checkbox" value="2" id="info.aFisica" ng-model="info.aFisica"/>&nbsp;A. Física</div>
      <div class="col-sm-4"><input type="checkbox" value="3" id="info.etilismo" ng-model="info.etilismo"/>&nbsp;Etilismo</div>
      <div class="col-sm-4"><input type="checkbox" value="4" id="info.eSolar" ng-model="info.eSolar"/>&nbsp;E. Solar</div>
      <div class="col-sm-4"><input type="checkbox" value="5" id="info.alergias" ng-model="info.alergias"/>&nbsp;Alergias</div>
    </div>
    <div class="col-sm-12 scp-row" >Observaciones:<textarea class="form-control" id="info.apnpNotes" ng-model="info.apnpNotes" ng-maxlength="2000" rows="3"></textarea></div>
  </div>
  <div class="hc-section">
    <div class="hc-title">Antecedentes personales patológicos</div>
    <div class="col-sm-12 scp-row "> 
      <div class="col-sm-4"><input type="checkbox" value="0" id="info.dm" ng-model="info.dm"/>&nbsp;DM</div>
      <div class="col-sm-4"><input type="checkbox" value="1" id="info.tbf" ng-model="info.tbf"/>&nbsp;TBF</div>
      <div class="col-sm-4"><input type="checkbox" value="2" id="info.appHas" ng-model="info.appHas"/>&nbsp;HAS</div>
    </div>
    <span class="col-sm-2 control-label">TX:</span>
    <div class="col-sm-10 scp-row" ><input type="text" class="form-control" id="info.tx" ng-model="info.tx"  /></div>
    <span class="col-sm-2 control-label">Quirúrjicos:</span>
    <div class="col-sm-10 scp-row" ><input type="text" class="form-control" id="info.quirurjicos" ng-model="info.quirurjicos" ng-maxlength="100" /></div>
    <span class="col-sm-2 control-label">Transfuncionales:</span>
    <div class="col-sm-10 scp-row" ><input type="text" class="form-control" id="info.transf" ng-model="info.transf" ng-maxlength="100" /></div>
    <div class="col-sm-12 scp-row" >Observaciones:<textarea class="form-control" id="info.appNotes" ng-model="info.appNotes" ng-maxlength="2000" rows="3" ></textarea></div>
  </div>
  <div class="hc-section">
    <div class="hc-title">Antecedentes ginecobstétricos</div>
    <div class="col-sm-12 scp-row "> 
      <div class="col-sm-1 control-label">G:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.g" ng-model="info.g"/></div>
      <div class="col-sm-1 control-label">P:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.p" ng-model="info.p"/></div>
      <div class="col-sm-1 control-label">A:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.a" ng-model="info.a"/></div>
      <div class="col-sm-1 control-label">C:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.c" ng-model="info.c"/></div>
    </div>
    <div class="col-sm-12 scp-row "> 
      <div class="col-sm-1 control-label">FUM:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.fum" ng-model="info.fum"/></div>
      <div class="col-sm-1 control-label">FUP:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.fup" ng-model="info.fup"/></div>
      <div class="col-sm-1 control-label">IVSA:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.ivsa" ng-model="info.ivsa"/></div>
      <div class="col-sm-1 control-label">PS:</div><div class="col-sm-2"><input type="text" class="form-control"id="info.ps" ng-model="info.ps"/></div>
    </div>
    <div class="col-sm-12 scp-row" >Observaciones:<textarea class="form-control" id="info.agNotes" ng-model="info.agNotes" ng-maxlength="2000" rows="3"></textarea></div>
  </div>
</div>