/* Space out content a bit */
body {
  font-family: Arial;
  font-size:9pt;
  padding-top:3.0cm;
  padding-bottom: 3cm;
  padding-right: 2cm;
  padding-left: 2cm;
  margin:0px;
}

footer{
  text-align: center;
}

.studyId{
  font-weight: bold;
}

.right_align{
  text-align: right;
}

header p{
  margin-top: 0px;
  margin-bottom: 0.4cm;
}

header{
  margin-bottom: 1.5cm;
}

content{
  text-align: justify;
}

.title_study{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.p_diagnostic{
  margin-top: 1.0cm; 
}

label{
  font-weight: bold;
}

footer{
  margin-top: 2cm;
}

@media screen{
  body{
    width: 21.7cm;
    height: 27.9cm;
    border-style:ridge;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px;
  }
}