<form role="form" name="htmlForm">
	<div class="">
    <h4>Inmuno</h4>
  	<div class="form-group">
  		<label class="col-sm-3 control-label">Material enviado:</label>
      <div class="col-sm-9 scp-row" ><input type="text" class="form-control" id="info.part1" ng-model="info.part1" ng-maxlength="1000"  /></div>
      <h5 class="col-sm-12 control-label">El estudio de inmunohistoquímica mostró el siguiente patrón:</h5>
      <label class="col-sm-3 control-label">Virus del papiloma humano:</label>
      <div class="col-sm-9 scp-row" ><input type="text" class="form-control" id="info.vph" ng-model="info.vph" /></div>
      <label class="col-sm-3 control-label">Herpes virus tipo 2:</label>
      <div class="col-sm-9 scp-row" ><input type="text" class="form-control" id="info.hv2" ng-model="info.hv2" /></div>
    </div>
      
    <h4>Receptores</h4>
    <div class="form-group">
      <label class="col-sm-3 control-label">Material enviado:</label>
      <div class="col-sm-9 scp-row" ><input type="text" class="form-control" id="info.part2" ng-model="info.part2" ng-maxlength="1000" ></input></div>
      <h5 class="col-sm-12 control-label">El estudio de inmunohistoquímica mostró el siguiente patrón:</h5>
      <div><label class="col-sm-3 control-label">Receptores de estrógenos:</label>
      <div class="col-sm-3" ><input type="text" class="form-control" id="info.estr" ng-model="info.estr" /></div><label class="col-sm-6 control-label">% Positividad</label></div>
      <div class="col-sm-12 control-label">&nbsp;</div>
      <div><label class="col-sm-3 control-label">Receptores de progesterona:</label>
      <div class="col-sm-3" ><input type="text" class="form-control" id="info.prog" ng-model="info.prog" /></div><label class="col-sm-6 control-label">% Positividad</label></div>
      <div class="col-sm-12 control-label">&nbsp;</div>
    </div>
  </div>
</form>